{
  "pid": "bw.application.EMSMessagingPCF_1.0",
  "properties": {
    "\/\/EMSMessagingPCF.module\/\/EMSUrl": {
      "name": "\/\/EMSMessagingPCF.module\/\/EMSUrl",
      "value": "tcp:\/\/127.0.0.1:7222",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/EMSPassword": {
      "name": "\/\/EMSMessagingPCF.module\/\/EMSPassword",
      "value": "#!04DCVnWCSkQ0k0abdyhG63XQHEsrnx0x",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.CLOUD.PORT": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.CLOUD.PORT",
      "value": "8080",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.MODULE.NAME": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "EMSMessagingPCF",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "EMSMessagingPCF",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.CLOUD.PORT": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.CLOUD.PORT",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/EMSPassword": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/EMSPassword",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/EMSUser": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/EMSUser",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/EMSUrl": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/EMSUrl",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.EMSMessagingPCF_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/EMSDestinationQueue": {
      "name": "\/\/EMSMessagingPCF.module\/\/EMSDestinationQueue",
      "value": "sample.queue",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/BW.HOST.NAME": {
      "name": "\/\/EMSMessagingPCF.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/EMSMessagingPCF.module\/\/EMSUser": {
      "name": "\/\/EMSMessagingPCF.module\/\/EMSUser",
      "value": "admin",
      "type": "java.lang.String"
    },
    ".type.\/\/EMSMessagingPCF.module\/\/EMSDestinationQueue": {
      "name": ".type.\/\/EMSMessagingPCF.module\/\/EMSDestinationQueue",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}